
.search {
    width: 500px;
    padding-left: 40px;
    border-radius: 30px;
    border: .5px solid;
    height: 40px;
    bottom: 10px;
    border-color: lightgray;
    text-align: center;
    
}

.wrapper {
    text-align: center;
    vertical-align: top;
    position: relative;
    top: .5px;
  
}

.container {
    position: relative;
    text-align: center;
    float: none;
    height: auto;
}

.container-btn {
  position: relative;
    text-align: center;
    float: none;
    height: auto;   
}

.google-image {
    top: 20px;
}

.button1 {
    padding: 0px, 0px;
    width: 120px;
    height: 30px;
    top: 30px;
    position: relative;
    border-radius: 5px;
    font-size: small;
} 

.button2 {
    padding: 0px, 0px;
    width: 150px;
    height: 30px;
    top: 30px;
    position: relative;
    border-radius: 5px;
    font-size: small;  
}

